---
// Component Imports
//import Counter from '../components/Counter';
import Test from '../components/LandingTest.jsx'
import {Navbar2} from '../components/Navbar2/navbar2.jsx'
import BaseLayout from '../layout/BaseLayout.astro';

//example of .env variables
import website from '../configuration.website';
const { twitterUsername } = website;

//example creation of variables
const someProps = {
	count: 0,
};

// Full Astro Component Syntax: https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <h1>Home Page</h1>
  <p>Home page content.</p>
</BaseLayout>
