<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.png" />
    </head>
    <body>
        <header>
            <!-- header content -->
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <!-- header content -->
        </footer>
    </body>
    <html></html>
</html>
